# Frontend
/frontend/node_modules
/frontend/.pnp
/frontend.pnp.js

/frontend/coverage

/frontend/build

/frontend.DS_Store
/frontend.env.local
/frontend.env.development.local
/frontend.env.test.local
/frontend.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

/frontend/package-lock.json

# Backend
/backend/backend/__pycache__
/backend/api/__pycache__
/backend/api/migrations/__pycache__

/backend/env
/backend/envTimetable
