/* Main */
.shift-content {
    display: flex;
    width: 100%;
    height: 92%;
    margin-top: 1%;
    .shift-content-timetable {
        height: 100%;
        width: 85%;
        div {
            height: 100%;
        }
        .employee-in-timeslot {
            height: 100%;
            width: 17%;
            margin-left: .08%;
            margin-right: .08%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 174, 255, 0.1);
            border-radius: 6px;
            border: 1px solid lightgray;
        }
    }
    .shift-content-employee {
        max-height: 100%;
        overflow-y: scroll;
        width: 14.5%;
        margin-left: .5%;
        display: flex;
        flex-direction: column;
        box-shadow: -5px 0px 10px -5px #aaaaaa;
    }
}

/* Days Topix */
.shift-topic-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    padding-top: 6px;
    padding-bottom: 6px !important;
    border-bottom: 1px solid lightgray;
}

/* Employee */
.employee-div {
    width: 97%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 6px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: grab;
    &:hover {
        background-color: rgba(211, 211, 211, 0.7);
    }
    div {
        height: 24px;
        label {
            font-size: 16px;
            cursor: grab;
        }
    }
}